/*BASIC STYLES*/
body
{
    min-height: 100%;
    padding-top: 140px;

    color: #595f61;
    background: #fff!important;
}

/*TEXT STYLES*/
p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6
{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;

    color: #595f61;
}

p
{
    font-size: 1.4em;
    font-weight: 300;
}

body h1,
body h2,
body h3
{
    font-weight: 300;
    /*color:#000*/
}

a
{
    font-weight: 300;
}

p a
{
    color: RGBA(249,121,40,1);
}

ul a,
table a,
table a:hover,
ul a:hover,
p a:hover
{
    text-decoration: none;

    color: #000;
}

ul
{
    padding-left: 0 !important;

    list-style: none;
}

h1.homepage-title
{
    font-size: 1.5em;
    font-weight: 700;

    padding: 0 0 55px 0;

    text-align: center;

    color: #fff;
}

/*TOPNAV*/
.topnav
{
    border-bottom: 2px solid #fff;
}

img.logoNavbar
{
    height: 114px;
    padding: 11px 0 12px 0;
}

.topnav .btn-woontevreden
{
    margin-top: 40px;
}

.navbar-bottom
{
    border-top: 1px solid #d6d6d6;
    background: #e5e5e5;
}


.panel-filter .btn-woontevreden
{
    width: 115px;
}

.panel-filter .btn-woontevreden .glyphicon
{
    margin: 2px 0 0 5px;;
}

.btn a
{
    font-weight: inherit;

    color: inherit;
}


.btn a:hover
{
    font-weight: inherit;

    color: inherit;
}

.btn-woontevreden
{
    font-weight: 700;
    line-height: 4px !important;

    margin-top: 5px;

    color: #fff !important;
    border-color: #d37743;
    border-radius: 2px;
    background-color: #e8834a;
    text-shadow: 1px 1px #b26539;
}

.btn-woontevreden:hover,
.btn-woontevreden:focus,
.btn-woontevreden:active,
.btn-woontevreden.active,
.open .dropdown-toggle.btn-woontevreden
{
    color: #f3f3f3;
    border-color: #d37743;
    background-color: #d17643 !important;
}

.dashboard-example .btn-woontevreden,
.panel .btn-woontevreden
{
    line-height: 10px !important;
}

.input-woontevreden,
.panel-filter input
{
    border: 1px solid #eee;
    border-radius: 2px;
}

.input-woontevreden:focus
{
    border-color: #f38241;
    outline: 0;
    box-shadow: none;
}

.home-hero
{
    position: absolute;
    z-index: -1000;
    top: 100px;

    width: 100%;
    height: 500px;

    background-color: #ec753a;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(241, 103, 42)), to(rgb(232, 131, 74)));
    background-image: -webkit-linear-gradient(left top, rgb(241, 103, 42), rgb(232, 131, 74));
    background-image:    -moz-linear-gradient(left top, rgb(241, 103, 42), rgb(232, 131, 74));
    background-image:      -o-linear-gradient(left top, rgb(241, 103, 42), rgb(232, 131, 74));
    background-image:     -ms-linear-gradient(left top, rgb(241, 103, 42), rgb(232, 131, 74));
    background-image:         linear-gradient(left top, rgb(241, 103, 42), rgb(232, 131, 74));

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#f1672a', EndColorStr='#e8834a');
}

.homepage-video
{
    border: 5px solid #fff;
    border-radius: 2px;
    background: black;
    -webkit-box-shadow: rgba(0, 0, 0, .298039) 0 -5px 30px 0;
}

.homepage-paragraph
{
    padding: 20px 0 0 0;

    text-align: center;

    color: #353535;
}

/*HACKS*/
.spacer
{
    height: 40px;
}

/*NGCLOAK*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak
{
    display: none!important;
}


/*DATAPRESENTAITE*/

.reviewbox
{
    margin-top: 30px;
}

p.review-preview
{
    font-size: 1em;
    font-style: italic;

    margin: 0 0 20px 0;
    padding: 0 0 0 5px;

    border-left: 3px solid #ccc;
}

.review-panel p
{
    font-size: 1em;

    padding: 10px;
}

/*FADEIN NGIF*/

.fadeIn.ng-enter,
.fadeIn.ng-leave
{
    display: block !important;

    transition: opacity .2s linear;
}

.fadeIn.ng-enter,
.fadeIn.ng-leave.ng-leave-active
{
    opacity: 0;
}

.fadeIn.ng-leave,
.fadeIn.ng-enter.ng-enter-active
{
    opacity: 1;
}

/*FADEIN OP NGHIDE*/

.fadeIn.ng-hide-add,
.fadeIn.ng-hide-remove
{
    display: block!important;

    transition: opacity .2s linear;
}

.fadeIn.ng-hide-add.ng-hide-add-active,
.fadeIn.ng-hide-remove
{
    opacity: 0;
}

.fadeIn.ng-hide-add,
.fadeIn.ng-hide-remove.ng-hide-remove-active
{
    opacity: 1;
}

.animate.ng-enter,
.animate.ng-leave
{
    position: relative;

    display: block;

    transition: 100ms ease-in all;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave
{
    opacity: 1;
}
.animate.ng-leave.ng-leave-active,
.animate.ng-enter
{
    opacity: 0;
}


/*ZOEKBALK*/

.zoekbox-navbar
{
    width: 70%;
    padding: 7px 0 0 25px;
}

wt-zoek-box-klein.col-md-9
{
    padding-left: 30px;
}

/*DONUT*/

text.donutText
{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 00;
}

/*reviews*/

li.wnRating
{
    float: left;

    margin-right: 21px;

    list-style: none;

    text-align: center;
}

p.wnRating
{
    font-size: .9em;

    margin-top: 9px;
}

.review-date
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: .8em;
    font-weight: 700;

    float: right;
}

span.lowGrade
{
    font-size: 1.4em;

    padding: 5px 20px 5px 20px;

    text-align: center;

    color: #fff;
    border-radius: 999px;
    background: #f36419;
}

span.mediumGrade
{
    font-size: 1.4em;

    padding: 5px 20px 5px 20px;

    text-align: center;

    color: #fff;
    border-radius: 999px;
    background: #f1b31c;
}

span.highGrade
{
    font-size: 1.4em;

    padding: 5px 20px 5px 20px;

    text-align: center;

    color: #fff;
    border-radius: 999px;
    background: #3fa720;
}

.panel-body
{
    background: #e2e2e2;
}

.ratingRow
{
    margin-top: 10px;
    margin-bottom: -10px;
    padding-left: 8px !important;
}



.highlighter
{
    font-weight: 600;

    padding: 0 3px 0 3px;

    background-color: #ff812d;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(255, 106, 0)), to(rgb(255, 152, 90)));
    background-image: -webkit-linear-gradient(left top, rgb(255, 106, 0), rgb(255, 152, 90));
    background-image:    -moz-linear-gradient(left top, rgb(255, 106, 0), rgb(255, 152, 90));
    background-image:      -o-linear-gradient(left top, rgb(255, 106, 0), rgb(255, 152, 90));
    background-image:     -ms-linear-gradient(left top, rgb(255, 106, 0), rgb(255, 152, 90));
    background-image:         linear-gradient(left top, rgb(255, 106, 0), rgb(255, 152, 90));

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ff6a00', EndColorStr='#ff985a');
}
.highlighter1
{
    font-weight: 600;

    padding: 0 3px 0 3px;

    background-color: #64c442;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(152, 196, 63)), to(rgb(49, 196, 69)));
    background-image: -webkit-linear-gradient(left top, rgb(152, 196, 63), rgb(49, 196, 69));
    background-image:    -moz-linear-gradient(left top, rgb(152, 196, 63), rgb(49, 196, 69));
    background-image:      -o-linear-gradient(left top, rgb(152, 196, 63), rgb(49, 196, 69));
    background-image:     -ms-linear-gradient(left top, rgb(152, 196, 63), rgb(49, 196, 69));
    background-image:         linear-gradient(left top, rgb(152, 196, 63), rgb(49, 196, 69));

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#98c43f', EndColorStr='#31c445');
}

/*filter*/

.panel-filter
{
    text-align: center;
}

span.filter
{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    font-weight: 600;

    letter-spacing: .07em;
    text-transform: uppercase;
}

a.filter
{
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    font-weight: 400;

    letter-spacing: .07em;
    text-transform: uppercase;
}

.mobile-filter span.filter
{
    padding: 0 3px 6px 0;
}

.mobile-filter
{
    margin-bottom: 6px;
}

.glyphicon-chevron-down,
.glyphicon-chevron-up
{
    font-size: .7em;

    padding: 7px 0 0 0;

    color: grey;
}

.chartselector
{
    top: -16px;

    display: inline-block;
    float: right;

    cursor: pointer;
    transition: all .2s ease;
}

.chartselector.barchart
{
    right: 5px;

    transform: rotate(90deg);
}

.chartselector:hover
{
    color: #ff812d;
}

.naam-bar h1
{
    color: #f38241 !important;
}

.dashboard-example:hover .btn
{
    opacity: 1;
    -webkit-box-shadow: 0 0 200px 0 rgba(50, 50, 50, .36);
       -moz-box-shadow: 0 0 200px 0 rgba(50, 50, 50, .36);
            box-shadow: 0 0 200px 0 rgba(50, 50, 50, .36);
}

.dashboard-example
{
    position: relative;

    cursor: pointer;
}

.dashboard-example .btn
{
    position: absolute;
    top: 40%;
    right: 31%;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    opacity: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.homepage-background
{
    background-image: url('/images/skylinebigcolor.png');
    background-repeat: no-repeat;
    background-position: bottom right 20px;
    background-size: 95%;
}

.contactformulier
{
    padding: 10px;

    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

.contactformulier input,
.contactformulier textarea
{
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
}


.contactformulier input:focus,
.contactformulier textarea:focus,
.panel-filter input:focus
{
    border: 1px solid #f38241;
    outline: 0;
    box-shadow: none;
}

/*RESPONSIVE SPECIFIEK VOOR DASHBOARDPAGINA*/

.custom-masonry
{
    /* Masonry container */
       -moz-column-count: 1;
    -webkit-column-count: 1;
            column-count: 1;
       -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
            column-gap: 1em;
}

.custom-masonry-reviews
{
    /* Masonry container */
       -moz-column-count: 1;
    -webkit-column-count: 1;
            column-count: 1;
       -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
            column-gap: 1em;
}

.custom-masonry-item
{
    /* Masonry bricks or child elements */
    display: inline-block;

    width: 100%;
    margin: 0 0 1em;
}



.custom-masonry-item .panel
{
    margin-bottom: 0;
}

svg.donut-svg
{
    width: 140px;
    height: 150px;
}


.twitter-panel
{
    margin-top: 20px;
}
#twitter-widget-0
{
    width: 100% !important;
}


@media (max-width: 768px)
{
    body
    {
        padding-top: 90px;
    }

    span.highGrade,
    span.mediumGrade,
    span.lowGrade
    {
        font-size: 1em;

        padding: 5px 10px 5px 10px;
    }

    li.wnRating
    {
        margin-right: 10px;
    }

    a.filter
    {
        padding: 0 0 0 5px;
    }

    h1.homepage-title
    {
        padding: 0 0 5px 0;
    }

    .home-hero
    {
        top: 67px;

        height: 300px;
    }
}

@media only screen and (min-width: 768px)
{
    .custom-masonry
    {
           -moz-column-count: 2;
        -webkit-column-count: 2;
                column-count: 2;
    }
    svg.donut-svg
    {
        width: 180px;
        height: 150px;
    }

    h1.homepage-title
    {
        font-size: 3em;
    }
}

@media only screen and (min-width: 992px)
{
    .custom-masonry
    {
           -moz-column-count: 3;
        -webkit-column-count: 3;
                column-count: 3;
    }
    svg.donut-svg
    {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 1200px)
{
    .custom-masonry
    {
           -moz-column-count: 3;
        -webkit-column-count: 3;
                column-count: 3;
    }
    svg.donut-svg
    {
        width: 180px;
        height: 150px;
    }
}


/*loading indicator*/

.spinner
{
    width: 30px;
    height: 30px;
    margin: 100px auto;

    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
            animation: rotateplane 1.2s infinite ease-in-out;

    background-color: #f38241;
}

@-webkit-keyframes rotateplane
{
    0%
    {
        -webkit-transform: perspective(120px);
    }
    50%
    {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100%
    {
        -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
    }
}

@keyframes rotateplane
{
    0%
    {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50%
    {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100%
    {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.form-control.ng-invalid
{
    border: 1px solid #d37743;
}

.form-control.ng-invalid:focus
{
    border: 1px solid #d37743;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(211, 119, 67);
}

.cell
{
    text-align: right;
}

.benchmarklower
{
    color: red;
}

.benchmarkhigher
{
    color: green;
}
