
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <wt-zoek-box-klein class="visible-xs pull-left zoekbox-navbar"></wt-zoek-box-klein>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-md-1">
            <img ui-sref="homepage" class="logoNavbar visible-lg visible-md" src="/images/indexPage/brandingNavbar.png" alt="woontevreden logo"/>
        </div>
        <div class="col-md-offset-3" style="margin-top: 10px">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden-lg hidden-md"><a ui-sref="homepage">Woontevreden</a></li>
                    <li><a ui-sref="woningcorporaties">Woningcorporaties</a></li>
                    <li><a ui-sref="bewonerscommissies">Bewonerscommissies</a></li>
                    <li><a ui-sref="overheid">Overheid</a></li>
                    <li><a ui-sref="vragen">Vragen</a></li>
                    <li>
                        <a href="http://vragenlijst.woontevreden.nl" class="btn btn-woontevreden btn-md" >Vul het Woononderzoek in!</a>
                    </li>
                    <wt-zoek-box-klein class="hidden-xs col-md-9 col-sm-12"></wt-zoek-box-klein>
                </ul>
            </div>
        </div>
    </div>
</div>
