<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Rapportcijfers overige corporaties</h3>
            <span ng-click="getNewChart('column')" class="glyphicon glyphicon-stats chartselector"></span>
            <span ng-click="getNewChart('bar')" class="glyphicon glyphicon-stats chartselector barchart"></span>
        </div>
        <div class="panel-body">
            <highchart style="height: 800px" id="chart1" config="chartConfig"></highchart>
        </div>
    </div>
</div>