<div class="panel panel-default">
    <div class="panel-body">
        <h5>Beschikbare jaarverslagen</h5>
        <a target="_blank" ng-if="WTInfoPanelData.jaarverslag_2013" href="{{ WTInfoPanelData.jaarverslag_2013 }}" class="badge">2013</a>
        <a target="_blank" ng-if="WTInfoPanelData.jaarverslag_2012" href="{{ WTInfoPanelData.jaarverslag_2012 }}" class="badge">2012</a>
        <a target="_blank" ng-if="WTInfoPanelData.jaarverslag_2011" href="{{ WTInfoPanelData.jaarverslag_2011 }}" class="badge">2011</a>
    </div>
</div>