<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Woontevreden is gevestigd in Amsterdam. We hebben veel ervaring met grootschalig kwantitatief onderzoek en affiniteit met de corporatiesector.</p>
        <h4>Hoe werkt het?</h4>
        <p>Woontevreden verzamelt informatie die bijdraagt aan een eerlijke discussie tussen huurders en verhuurders. Hoe wij dat doen? Wij laten bewoners hun woonsituatie reviewen. De reviews omvatten het oordeel van de huurder met betrekking tot zijn woning, de woonomgeving en de woningcorporatie.</p>
        <h4>Een eerlijke dialoog</h4>
        <p>Via Woontevreden worden opinie en prestaties openbaar, meetbaar en vergelijkbaar. We willen hiermee structurele input leveren aan de discussie over kwaliteit van wonen. Om uit de reviews betrouwbare lering te kunnen trekken moet Woontevreden een objectief en geloofwaardig platform zijn. Woontevreden is daarom ingericht met gelijkwaardigheid als uitgangspunt:</p>
        <h4>Bewoners kunnen anoniem hun mening geven</h4>
        <h4>Gegevens worden gecontroleerd en zorgvuldig gewogen</h4>
        <h4>Reviews zijn openbaar inzichtelijk</h4>
        <h4>Woontevreden is een onafhankelijk initiatief</h4>
    </div>
</div>