<div class="col-sm-5">
    <input type="email" ng-model="email" class="form-control"/>
    <input type="password" ng-model="password" class="form-control"/>
    <button type="submit" class="btn btn-default" ng-click="signIn()">log in</button>
    <button type="submit" class="btn btn-default" ng-click="createUser()">create</button>
</div>

<ul ng-repeat="contact in contacten" ng-if="auth.user">
    <li>bericht: {{ contact.bericht }}</li>
    <li>emailadres: {{ contact.emailadres }}</li>
    <li>telefoonnummer: {{ contact.telefoonnummer }}</li>
    <li>datum: {{ contact.datum }}</li>
    <button class="btn btn-danger" ng-click="contacten.$remove(contact)">remove</button>
</ul>