<ul>
    <li ng-repeat="a in allAannemers">{{a.naam}}</li>
</ul>
<ul>
    <li ng-repeat="p in allProjecten">{{p.projectnaam}}</li>
</ul>


<p>
    <select ng-model="selectedAannemer" ng-options="a.naam for (id,a) in allAannemers">
        <option disabled value="">Selecteer uw aannemer uit onderstaande lijst</option>
    </select>
</p>
<p>
    <a ng-click="getProjectsForAannemer(selectedAannemer.id)" class="btn">haal projecten op</a>
    <li ng-repeat="p in projectenContent">{{p.projectlocatie}}</li>
</p>
<form role="form" class="hidden">
    <div class="row">
        <div class="form-group col-xs-4">
            <input type="text" class="form-control" placeholder="adres" ng-model="adres">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <input type="text" class="form-control" placeholder="naam" ng-model="naam">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-8">
            <textarea type="text" class="form-control" placeholder="profiel" ng-model="profiel" rows="10">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-8">
            <textarea type="text" class="form-control" placeholder="stad" ng-model="stad">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button ng-click="addAannemer()" type="submit" class="btn btn-success">
                voeg aannemer toe
            </button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-6">
        <p ng-bind="selectedAannemer.adres"></p>
        <p ng-bind="selectedAannemer.naam"></p>
        <p ng-bind="selectedAannemer.profiel"></p>
        <p ng-bind="selectedAannemer.stad"></p>
    </div>
</div>