<div class="row">
    <div class="col-md-8 col-md-offset-2"><h4>Wat is Woontevreden?</h4>

        <p>Woontevreden is een onafhankelijke organisatie die de het gesprek tussen huurder en verhuurder wil
            ondersteunen. Dit doen we door huurders de mogelijkheid te geven hun mening over hun corporatie achter te
            laten via het Woononderzoek. </p>
        <h4>Hoe werkt het?</h4>

        <p>Het Woononderzoek bestaat uit een vragenlijst van circa 20 vragen over de woning, woonomgeving en
            woningcorporatie. Ingevulde vragenlijsten worden door Woontevreden controleerd op authenticiteit en
            volledigheid, en <em>anoniem</em> geplaatst op <a ui-sref="homepage">www.woontevreden.nl</a>.</p>

        <h4>Wat is het verdienmodel van Woontevreden?</h4>

        <p>Woontevreden rekent geen kosten voor de basisrapportages. Als een woningcorporatie, gemeente of andere stakeholder verder uitgesplitste data wil zien dan de basisrapportage biedt, bespreken we een geschikte prijs.</p>

        <h4>Is er een relatie tussen Woontevreden en woningcorporaties?</h4>

        <p>Nee. Woontevreden is een onafhankelijke organisatie. Wij geven je persoonsinformatie <em>nooit</em> door aan een
            woningcorporatie. Dit betekent dat je persoonlijke gegevens en je mening altijd beschermd zijn. </p>

        <p>Woningcorporaties kunnen bij Woontevreden kosteloos een rapportage aanvragen met inzicht in de tevredenheid
            van de bewoners. In deze rapportages zijn je gegevens volledig anoniem en kunnen je reviews of
            rapportcijfers niet naar jou worden herleid.</p>
        <h4>Kan ik klachten over mijn woning(corporatie) bij Woontevreden kwijt?</h4>

        <p>Nee. Eventuele klachten over je woning of corporatie kunnen niet door ons behandeld worden. Wij hebben
            geen contact met woningcorporaties hierover. Als je klachten hebt kun je dat direct aan je woningcorporatie
            doorgeven. </p>
    </div>
</div>