<div class="row">
    <div class="col-sm-8 col-sm-offset-2" fit-vids>
        <h1 class="homepage-title">Woontevreden. Samen verbeteren.</h1>

        <div class="homepage-video">
            <iframe src="//player.vimeo.com/video/79342978?title=0&amp;byline=0&amp;portrait=0&amp" frameborder="0  " webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="row ">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="homepage-paragraph">
            <h2>
                Welkom bij Woontevreden
            </h2>

            <p>
                Woontevreden werkt aan beter wonen door het gesprek tussen bewoners en hun corporaties te
                ondersteunen. Wij verzamelen meningen en feiten en maken ze inzichtelijk. Hierdoor worden prestaties
                vergelijkbaar en kunnen corporaties gericht verbeteren.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="col-sm-8 col-sm-offset-2">
            <wt-zoek-box-groot></wt-zoek-box-groot>
        </div>
    </div>
</div>