<div class="row expandSearchBox">
    <div class="col-sm-4 col-sm-offset-5">
        <a ng-click="showSearch = !showSearch">zoek je corporatie</a>
    </div>
</div>
<div class="spacer"></div>
<div ng-show="showSearch" class="slideDown">
    <div ng-controller="matchIds">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group zoekbox">
                    <input ng-model="asyncSelected" typeahead="corporatie.naam as corporatie.naam for corporatie in gegevensAllWocos | filter:$viewValue | limitTo:10" typeahead-on-select="setId($item)" typeahead-editable="false" type="text" class="form-control input-lg" placeholder="zoek hier je corporatie">
                </div>
            </div>
        </div>
        <div class="row zoeken" ng-hide="selectedCorporatieObject">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="alert alert-success">
                    <p>
                        er is geen corporatie met beschikbare data geselecteerd
                    </p>
                </div>
            </div>
        </div>
        <div ng-show="selectedCorporatieObject.naam">
            <div class="row dataOverview">
                <div class="col-sm-5 col-sm-offset-1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Woning</th>
                            <th>Omgeving</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td ng-bind="selectedCorporatieObject.woning | number:1"></td>
                        <td ng-bind="selectedCorporatieObject.omgeving | number:1"></td>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Corporatie</th>
                            <th>Woonsituatie</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td ng-bind="selectedCorporatieObject.corporatie | number:1"></td>
                        <td ng-bind="selectedCorporatieObject.woonsituatie | number:1"></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 col-sm-offset-3">
                    <h3>Individuele reviews voor <span ng-bind="selectedCorporatieObject.naam"></span></h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Review</th>
                            <th>Woning</th>
                            <th>Omgeving</th>
                            <th>Woonsituatie</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="reviews in specificCorporatieObject">
                            <td>{{reviews.review}}</td>
                            <td>{{reviews.woning}}</td>
                            <td>{{reviews.omgeving}}</td>
                            <td>{{reviews.woonsituatie}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div class="intro toCollapse">
            <p>
                Woontevreden is er voor woningcorporaties, bewonerscommissies, bewoners en gemeenten. Bekijk hier wat wij voor deze verschillende groepen kunnen betekenen.
            </p>
        </div>
        <div class="spacer"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1">
        <div class="col-md-2 cards fadeIn toSlideUp" ng-repeat="card in cards" ng-click="selectVoorWie(card.textLong)">
            <h3>
                {{card.title}}
            </h3>
            <p>
                {{card.text}}
                <br/>
                <br/>
                <!--<a class="btn btn-success" >meer info</a>-->
            </p>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-offset-1">
        <div class="col-md-2 voorWieImage" ng-repeat="card in cards">
            <p>
                <img src="{{card.url}}" alt="plaatje" class="animated bounceIn toBounceOut"/>
            </p>
        </div>
    </div>
</div>
<div class="row" ng-show="voorWieId != null">
    <div class="col-md-offset-1">
        <div class="col-sm-8">
            <p class="fadeIn voorWieInfo" ng-repeat="current in currentVoorWieTitle">
                {{current}}
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                Neem contact met ons op via <a href="mailto:info@woontevreden.nl">info@woontevreden.nl</a> of bel naar (020) 624 90 76.
            </p>
        </div>
    </div>
</div>