<form ng-controller="vraagSubmitController" ng-submit="addVraag(vraag)">
	<input class="form-control form-group" ng-model="vraag.tekst" placeholder="tekst" type="text">
	<input class="form-control form-group" ng-model="vraag.antwoord" placeholder="antwoord" type="text">
	<input data-role="tagsinput" class="form-control form-group" ng-model="vraag.tags" placeholder="tags" type="text">
	<input class="form-control form-group" ng-model="vraag.bron" placeholder="bron" type="text">
	<button class="btn btn-success" type="submit">voeg toe</button>
</form>