<div class="row">
    <h1 class="homepage-title">Inzicht in prestaties</h1>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="homepage-paragraph">
            <p class="dashboard-example">
                <img src="images/dashboard-corpos.png" alt="dashboardexample" style="max-width:90%"/>
                <a class="btn btn-woontevreden btn-lg hidden-xs" href="http://onderzoek.woontevreden.nl/dashboard/corporatie/index.html" target="_blank">Bekijk het voorbeelddashboard</a>
                <a class="btn btn-woontevreden btn-sm visible-xs" href="http://onderzoek.woontevreden.nl/dashboard/corporatie/index.html" target="_blank">Bekijk het voorbeelddashboard</a>
            </p>
            <div class="spacer"></div>
            <h2>Altijd up to date informatie over alle huurders</h2>
            <p>Woningcorporaties kunnen kosteloos een Woononderzoek afnemen. Het enige wat wij nodig hebben zijn de contactgegevens van huurders (adres of e-mail) en Woontevreden doet de rest. We benaderen de bewoners en leggen onze vragenlijst voor. Vervolgens rapporteren we in de vorm van een dynamisch dashboard en complete rapportage.</p>
            <h2>Rapportage en dashboard voor alle corporaties</h2>
            <p>Woontevreden biedt iedere corporatie een rapportage en dashboard aan. Hierin kun je zien hoe jouw corporatie presteert ten opzichte van andere corporaties en op de verschillende onderdelen van het onderzoek.</p>
        </div>
    </div>
</div>