<div class="row" ng-controller="barChartCtrl">
    <div class="col-sm-5">
        <chartjs width="MyChart.width" height="MyChart.height" data="MyChart.data" options="MyChart.options" is-type="Bar"></chartjs>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="form-group zoekbox">
            <input ng-model="asyncSelected" typeahead="corporatie.naam as corporatie.naam for corporatie in gegevensAllWocos | filter:$viewValue | limitTo:10" typeahead-on-select="setId($item)" typeahead-editable="false" type="text" class="form-control input-lg fadeIn" placeholder="zoek hier je corporatie">
        </div>
    </div>
</div>
<div class="row zoeken" ng-hide="selectedCorporatieObject">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="alert alert-success">
            <p>
                er is geen corporatie met beschikbare data geselecteerd
            </p>
        </div>
    </div>
</div>
<div ng-show="selectedCorporatieObject.naam">
    <div class="row dataOverview">
        <div class="col-sm-5 col-sm-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th>Woning</th>
                    <th>Omgeving</th>
                </tr>
                </thead>
                <tbody>
                <td ng-bind="selectedCorporatieObject.woning | number:1"></td>
                <td ng-bind="selectedCorporatieObject.omgeving | number:1"></td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <tr>
                    <th>Corporatie</th>
                    <th>Woonsituatie</th>
                </tr>
                </thead>
                <tbody>
                <td ng-bind="selectedCorporatieObject.corporatie | number:1"></td>
                <td ng-bind="selectedCorporatieObject.woonsituatie | number:1"></td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
            <h3>Individuele reviews voor <span ng-bind="selectedCorporatieObject.naam"></span></h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Review</th>
                    <th>Woning</th>
                    <th>Omgeving</th>
                    <th>Woonsituatie</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reviews in specificCorporatieObject">
                    <td>{{reviews.review}}</td>
                    <td>{{reviews.woning}}</td>
                    <td>{{reviews.omgeving}}</td>
                    <td>{{reviews.woonsituatie}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>